.notifications {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notifications > div {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 100px;
    /*border-radius: 10px;*/

    background: var(--gruvbox-color-blue-dark);
    color: var(--gruvbox-color-foreground);
}

.notifications > div > div {
    padding: 5px;
}

.notifications > div > div:nth-child(1) {
    background-color: var(--gruvbox-color-blue);
    /*border-radius: 10px 10px 0 0;*/

    display: flex;
    gap: 10px;
}

.notifications > div > div:nth-child(1) > p {
    flex-grow: 1;
    margin: 0px;
}
