<!DOCTYPE html>
 <html lang="fr">
  <head>
   <title>Medievalization - Authentification - {% block title %}{% endblock %}</title>
   <meta charset="utf-8" />
   <link rel="stylesheet" href="/public/ui/auth/css/styles.css" />
  </head>
  <body>
   <main>
    <header>
     <h1>Medievalization</h1>
     <h2>{% block subtitle %}{% endblock %}</h2>
    </header>
    <section>
     <!-- Begin of page content -->
{% block content %}{% endblock %}
     <!-- End of page content -->
    </section>
   </main>
  </body>
 </html>
<!-- END -->
