{% extends "base.html" %}

{% block base_title %}{{ trans.auth.template.auth_title }} - {% block title %}ERR500{% endblock %}{% endblock %}

{% block base_head %}
<link rel="stylesheet" href="/public/ui/auth/css/styles.css" />

<!-- block head -->
{% block head %}
{% endblock %}
<!-- endblock -->

{% endblock %}

{% block base_body %}
<main>
 <header>
  <h1>Medievalization</h1>
  <h2>{% block subtitle %}{% endblock %}</h2>
 </header>
 <section>
  <!-- block content -->
  {% block content %}
  {% endblock %}
  <!-- endblock -->
 </section>
</main>
{% endblock %}
