<!DOCTYPE html>
 <html lang="fr-FR">
  <head>
   <title>Medievalization - {% block base_title %}ERR500{% endblock %}</title>
   <meta charset="utf-8" />

   <link rel="icon" type="image/svg+xml" href="/public/images/favicon/favicon.svg">
   <link rel="icon" type="image/png" href="/public/images/favicon/favicon.png">
   <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicon/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon/favicon-16x16.png">
   <link rel="manifest" href="/public/manifests/site.webmanifest">
   <link rel="mask-icon" href="/public/images/favicon/safari-pinned-tab.svg" color="#343a40">
   <link rel="shortcut icon" href="/public/images/favicon/favicon.ico">
   <meta name="msapplication-TileColor" content="#343a40">
   <meta name="msapplication-config" content="/public/manifests/browserconfig.xml">
   <meta name="theme-color" content="#343a40">

   <link rel="stylesheet" href="/public/ui/shared/css/styles.css" />
   <link rel="stylesheet" href="/public/ui/root/css/base.css" />
   <link rel="stylesheet" href="/public/ui/components/css/styles.css" />

   <script type="module" src="/public/ui/components/src/components.js"></script>
   <script type="module" src="/public/ui/root/src/base.js"></script>
   
   <!-- block base_head -->
   {% block base_head %}
   {% endblock %}
   <!-- endblock -->
  </head>
  <body>
   <!-- block base_body -->
   {% block base_body %}
   {% endblock %}
   <!-- endblock -->

   <div id="flashed" class="notifications">
    {% for message in get_flashed_messages() %}
     <div>
      <div>
       <span class="icon">󰋼</span>
       <p>Information</p>
       <button class="notifications-close icon"></button>
      </div>
      <div>
       <p>{{ message }}</p>
      </div>
     </div>
    {% endfor %}
   </div>

   <div id="language" class="scbo">
    <div>
     <img alt="Current language flag" str="/public/images/flags/{{ current_language }}.svg"/>
     {{ languages[0].name }}
     <span>▶</span>
    </div>
    <div class="scbo-list scbo-closed">
     {% for language in languages %}
      <div data-scboitemid="{{ language.language }}">
       <img src="/public/images/flags/{{ language.code }}.svg" alt="{{ language.name }} flag"/>
       {{ language.name }}
      </div>
     {% endfor %}
    </div>
   </div>
  </body>
 </html>
<!-- END -->